@font-face {
  font-family: "headingFont";
  src: url(../Fonts/MandatoryPlaything-nRRd0.ttf);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

.body {
  position: relative;
  background-color: black;
}

section {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  font-family: "headingFont";
  color: #38ffff;
  text-align: center;
  font-size: 100px;
}

nav {
  background-color: rgb(24 86 98 / 60%);
  font-size: 30px;
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  backdrop-filter: blur(20px);
}

nav .logo img {
  height: 70px;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 20px;
}

section {
  min-height: 80vh;
}

section p {
  font-size: 20px;
  font-weight: 700;
}

.button {
  background: radial-gradient(rgb(24 86 98 / 0%), rgb(24 86 98));
  width: fit-content;
  border: 1px solid #00ffff;
  padding: 5px 180px;
  border-radius: 3px;
  color: #00ffff;
  font-size: 30px;
  margin: 20px 0 0;
}

.button:hover {
  background: radial-gradient(rgb(24 86 98 / 100%), rgb(24 86 98 / 0%));
  color: #2bffff;
}

.card-custom p {
  font-weight: 300;
}

.card-custom img {
  width: 80%;
}

.card-custom .content {
  height: 100px;
}

.card-custom .footer {
  margin-top: 50px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:hover {
  color: #00ffff;
}

.table-custom {
  color: #38ffff;
  font-weight: 700;
}

.table-custom > .row {
  border-top: 1px solid #38ffff;
  border-bottom: 1px solid #38ffff;
}

.contact .title {
  margin-bottom: 50px;
}

.contact {
  min-height: fit-content;
}

input,
textarea {
  border-color: #38ffff !important;
  background: transparent !important;
  color: #38ffff !important;
}

input::placeholder,
textarea::placeholder {
  color: #38ffff !important;
}

.social {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  background: #fac0ff;
  height: 60px;
  background-color: rgb(16 60 69 / 63%);
  margin-top: 90px;
}

.social img {
  height: 45px;
}
footer {
  background-color: rgb(16 60 69 / 63%);
}

@media only screen and (max-width: 600px) {
  nav {
    font-size: 14px;
  }

  nav a {
    margin: 10px;
  }

  .title {
    font-size: 50px;
  }

  .button {
    width: 100%;
    padding: 5px;
    text-align: center;
    margin-bottom: 80px;
  }

  .card-custom .footer {
    margin-top: -20px;
  }

  .card-custom {
    margin-bottom: 40px;
  }

  .title-custom {
    font-size: 40px;
  }

  #TOKENOMICS {
    padding: 10px !important;
  }

  .chart {
    margin: 50px 0;
  }

  .menu {
    justify-content: center !important;
    margin-top: 10px;
  }

  .contact .title {
    font-size: 39px;
  }

  .contact {
    padding: 20px !important;
  }

  .social {
    margin-top: 120px;
    overflow-x: scroll;
    align-items: unset;
    justify-content: unset;
  }

  .social a {
    margin: 10px;
  }

  #member p {
    font-size: 14px !important;
  }
}
